<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- Used to check if service is running -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".service.SEApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_whale_foreground"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".activity.StudyDebugInfo"
            android:exported="false"
            android:label="@string/title_activity_study_debug_info"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".activity.settings.StudyInfo"
            android:exported="false"
            android:label="@string/title_activity_study_info"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.onboarding.Onboarding"
            android:exported="false"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".activity.esm.QuestionnaireActivity"
            android:exported="false"
            android:label="@string/title_activity_questionnaire"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".activity.StudyEnrolment"
            android:exported="false"
            android:label="@string/title_activity_study_enrolment"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".activity.RecoverPermissionsActivity"
            android:exported="false"
            android:label="@string/permission_revoked_title"
            android:theme="@style/Theme.MyApplication" />

        <receiver
            android:name=".service.sampling.OnBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.esm.PeriodicNotificationReceiver"
            android:enabled="true" />
        <receiver
            android:name=".service.esm.RandomNotificationReceiver"
            android:enabled="true" />
        <receiver
            android:name=".service.esm.OneTimeNotificationReceiver"
            android:enabled="true" />
        <receiver
            android:name=".service.esm.SamplingEventReceiver"
            android:enabled="true" />
        <receiver
            android:name=".service.sampling.ResumeSamplingReceiver"
            android:enabled="true" />
        <receiver
            android:name=".study.ChangePhaseReceiver"
            android:enabled="true" />
        <receiver
            android:name=".service.esm.NotificationTriggerReceiver"
            android:enabled="true" />
        <receiver
            android:name=".service.healthcheck.PeriodicServiceHealthcheckReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.accessibility.AccessibilityLogService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":remote"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".service.LogService"
            android:exported="false"
            android:foregroundServiceType="microphone"
            android:process=":remote"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </service>
        <service
            android:name=".service.ActivityRecognitionIntentService"
            android:exported="false"
            android:label="@string/app_name" />
        <service android:name=".service.floatingWidget.NotificationTriggerFloatingWidgetService" />
        <service
            android:name=".service.MyNotificationListenerService"
            android:exported="true"
            android:label="Notification Listener Service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>